<div class="container">
  <div class="shadow-lg p-3 mb-5 rounded">
    <div class="card-body">
      <div class="card-title">
        <h2>
          <img src="assets/img/customers.svg" alt="Clientes" />
          Clientes
        </h2>
        <p>Visualize todos os seus clientes cadastrados...</p>
      </div>

      <div class="d-flex justify-content-between mb-4">
        <button
          [routerLink]="'/'"
          type="button"
          class="btn btn-secondary float-left"
          data-toggle="tooltip"
          data-placement="top"
          title="Voltar"
        >
          <img src="assets/img/back.svg" alt="Voltar" />
          Voltar
        </button>
        <button
          [routerLink]="'/clientes/detalhe'"
          type="button"
          class="btn btn-success float-end"
          data-toggle="tooltip"
          data-placement="top"
          title="Cadastrar"
        >
          <img src="assets/img/add.svg" alt="Cadastrar" />
          Cadastrar
        </button>
      </div>

      <div class="d-flex justify-content-end mb-4">
        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-xl-4">
          <input
            #search
            type="number"
            class="form-control"
            placeholder="Pesquisar pela chave de negócio..."
          />
          <button
            (click)="getByBusinessKey()"
            type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="top"
            title="Pesquisar"
          >
            <img src="assets/img/search.svg" alt="Pesquisar" />
          </button>
          <button
            (click)="getCustomers()"
            type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="top"
            title="Limpar"
          >
            <img src="assets/img/clear.svg" alt="Limpar" />
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="table-light">
            <tr>
              <th>Chave de Negócio</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>CPF</th>
              <th>Cidade / UF</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>
                <strong>{{ customer.businessKey }}</strong>
              </td>
              <td>{{ customer.name }}</td>
              <td>
                <a class="text-underline" [href]="'mailto:' + customer.email"
                  ><u>{{ customer.email }}</u></a
                >
              </td>
              <td>{{ customer.cpf }}</td>
              <td>
                {{ customer.address.city }} / {{ customer.address.state }}
              </td>
              <td class="text-center">
                <div class="btn-group">
                  <button
                    [routerLink]="['/clientes/detalhe', customer._id]"
                    type="button"
                    class="btn btn-warning"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Editar"
                  >
                    <img src="assets/img/edit.svg" alt="Editar" />
                  </button>
                  <button
                    (click)="delete(customer)"
                    type="button"
                    class="btn btn-danger"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Excluir"
                  >
                    <img src="assets/img/delete.svg" alt="Excluir" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="loading" class="d-flex justify-content-center">
          <div class="spinner-border text-secondary" role="status"></div>
        </div>
        <div *ngIf="customers?.length == 0 && !loading" class="text-center">
          Nenhum cliente encontrado!
        </div>
      </div>
    </div>
  </div>
</div>
